@font-face {
  font-family: 'Playwrite NG Modern';
  src: url('/fonts/PlaywriteNGModern.woff2') format('woff2'),
       url('/fonts/PlaywriteNGModern.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
